body{
    background-color:#04bcfb;
    color: white;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 120px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: #ff9900; /* Mudar a cor quando passar o mouse */
}
