@charset "UTF-8";

@font-face {
    font-family: littlebird;
    src: url(littlebird.ttf) format('truetype');    
}

@font-face {
    font-family: bromello;
    src: url(BROMELLO.TTF) format('truetype');
}

h1 {
    font-family: 'littlebird';
    font-size: 2em;
}

p {
    font-family: 'littlebird';
    font-size: 1em;
    text-align:justify;
}

h2 {
    font-size: 1.7em;
    font-weight:bold;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    font:italic bold 1.5em Arial;
}

